.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse; /* Reversed order */
    align-items: flex-end; /* Align to the end of the container */
    z-index: 999;
  }

  .toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 5px; /* Spacing between toasts */
    display: flex;
    justify-content: space-between; /* Space for close icon */
    align-items: center;
    position: relative; /* For progress bar */
  }

  .success-toast {
    background-color: #5cb85c;
  }

  .error-toast {
    background-color: #d9534f;
  }

  .close-icon {
    cursor: pointer;
    padding-left: 12px;
    align-items: center;
    padding-bottom: 1px;
  }

  /* Progress bar styles */
  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px; /* Adjust the height as needed */
    background-color: #333; /* Progress bar color */
    opacity: 0.8; /* Opacity of the progress bar */
    animation: progress-animation 3.2s linear none; /* Animation for progress */
  }

/* Style for the hamburger icon */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
    width: 25px;
}

.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(-45deg) translate(3px, -4px);
    width: 25px;
}

.menu-toggle.active .bar:nth-child(3) {
    display: none;
}

  @keyframes progress-animation {
    0% {
      width: 100%; /* Start with full width */
    }
    100% {
      width: 0; /* Decrease width to 0% */
    }
  }